/* @import 'tailwind'; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    padding: 0;
}

.card-body {
    /* max-width: 1200px; */
    min-width: 400px;
}